<div class="attribute-description attribute-description-natrium" style="display:none">
	<p> Sodium Regulates the water. </p>
	<p> How much sodium for splat suitable, depends greatly on the individual from: athletes is sodium-rich water to recommend people with hypertension or infants shoulderstand low-sodium water (less than 20 milligrams per liter) drinking </p>-
	<p> A lack of sodium overexpressed in physical weakness, nausea and muscle cramps through to circulatory collapse. </p>
	<p> Recommended minimum of 550 mg of sodium per day. For a medically recommended low-sodium diet or for infants less than 20 mg / l of sodium are suitable. </p>
</div>
<div class="attribute-description attribute-description-kalium" style="display:none">
	<p> Potassium keeps water and electrolyte balance in balance, Regulates blood pressure and is important for a regular heart attack and nerves. </p>
	<p> To a potassium deficiency, it can cause vomiting after large losses of fluid, eg by prolonged diarrheal diseases Or prolonged use of drainage products. </p>
	<p> A high potassium content in the blood can lead to heart failure Because potassium Inhibits the contraction of the heart muscle. </p>
</div>
<div class="attribute-description attribute-description-calcium" style="display:none">
	<p>Calcium is needed for the formation of bones and teeth. Also for the muscles and clotting Calcium is important.</p>
	<p>At calcium is often lacking, which can lead to a decrease in bone strength and thus to osteoporosis.</p>
</div>
<div class="attribute-description attribute-description-magnesium" style="display:none">
	<p>Magnesium affects the energy metabolism, the interaction of nerves to muscles for protein synthesis and and bone mineralization. Furthermore, it is responsible for the activation of over 300 enzymes in the metabolism.</p>
	<p>Too much magnesium is highly unlikely. In large quantities of mineral causes a softer stool.</p>
</div>
<div class="attribute-description attribute-description-chlorid" style="display:none">
	<p>Chloride is a component of table salt and is therefore responsible for the regulation of water balance. Also for the nerves, the heart and muscles, as well as acid-base balance chloride is important.</p>
	<p>Since it occurs in many foods, more than enough chloride is usually added. A permanent oversupply of chloride can cause high blood pressure.</p>
</div>
<div class="attribute-description attribute-description-nitrat" style="display:none">
	<p>Nitrate is converted to nitrite in the body toxic. In addition, may arise from nitrites carcinogenic nitrosamines.</p>
	<p>The nitrite itself may cause an oxygen deficiency of all organs and tissues. Infants are particularly vulnerable for this.</p> 
	<p>Therefore, the limit value in mineral water is 50 mg / l. The nitrate levels in drinking water contained in the region are having 5 to 38 mg / l below the limit and are therefore classified as harmless.</p>
	<p>For comparison: Bodensee-water contains only 4 mg of nitrate per liter.</p> 
</div>
<div class="attribute-description attribute-description-sulfat" style="display:none">
	<p>Sulfate promote digestion, even laxative from a level of 1200 mg / l.</p>
	<p>Contains a mineral more than 1200 mg / l, while high accounts Trat ions of minerals such as magnesium, calcium, fluoride, hydrogen and carbon dioxide, it is referred to as medicinal water.</p>
	<p>However, infants and patients with digestive tract diseases and tendency to form uric acid stones should little sulphate to take (content &lt;240 mg / l).</p>
	<p>But even with little water sulfate has something good: It will taste usually perceived positively. High sulfate contents however express themselves in a sweet and bitter taste.</p>
</div>