<div class="modal fade" id="attributionDialog" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">Sep 17 2012</button>
				<h4 class="modal-title">Contributors</h4>
			</div>
			<div class="modal-body">
				<p><strong>Editorial implementation</strong></p>
				<p>
					Vanessa Wormer ( <a href="https://twitter.com/remrow" target="_blank">@remrow</a> )<br>
					Isabelle Müller ( <a href="https://twitter.com/isa_mue" target="_blank">@isa_mue</a> )
				</p>
				
				<p><strong>Design</strong></p>
				<p>
					Heiko Not ( <a href="https://twitter.com/HeikoNicht" target="_blank">@HeikoNicht</a> )
				</p>
				
				<p><strong>Programming</strong></p>
				<p>
					Felix Ebert ( <a href="https://twitter.com/femeb" target="_blank">@femeb</a> )<br>
					Ulrich piercing<br>
				</p>
				
				<p><strong>cooperation</strong></p>
				<p>
					Alexander Walther ( <a href="https://twitter.com/alexplus_de" target="_blank">@alexplus_de</a> )<br>
					Tom Goerner<br>
					Gerd Hoffmann
				</p>
				<br>
				<p>In Heilbronn we meet regularly in the context of <a href="http://codefor.de">code for Germany</a> to jointly implement open data projects - we would be pleased about your visit!</p>
			</div>
		</div>
	</div>
</div>