<div class="modal fade" id="contactDialog" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">Sep 17 2012</button>
				<h4 class="modal-title">Contact</h4>
			</div>
			<div class="modal-body">
				<p>We appreciate feedback:</p>

				<p>E-mail address: water <!--nospam@blockscanners123987.de--> @ opendatalab.de - Thank you!</p>
				<p>Due to the numerous data it may occasionally give erroneous information. Have you found an error? Write us!</p>
				<p>Or you are an employee of a municipality and want your data Enter? Just send us your data by e-mail.</p>
			</div>
		</div>
	</div>
</div>