<div class="modal fade" id="imprintDialog" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">Sep 17 2012</button>
				<h4 class="modal-title">Imprint</h4>
			</div>
			<div class="modal-body">
				<address>
					IF-Core IT Services GmbH<br>
					Clemens Haller Str. 5<br>
					74254 Offenau<br>
					t                Jan 15 2013                            15:40<br>
					Fax: +55 21 3208 1904<br>
					Email: info <!--nospam@blockscanners121987.de--> @ if-core.de<br>
					<br>
					HRB 108620 (Amtsgericht Stuttgart)<br>
					VAT Reg. DE252314620<br>
					CEO: Felix Ebert<br>
				</address>
			</div>
		</div>
	</div>
</div>
