<div class="info-container">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">information about <span class="zone-id"></span></h4>
				</div>
				<div class="panel-body">
					<p class="zone-year-container">
						The data are from the year <span class="zone-data-year"></span>
					</p>
					<p>
						<span class="zone-description"></span>
					</p>
				</div>
			</div>
		
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a href="#collapseOne" data-toggle="collapse" data-parent="#accordion"> Where does our drinking water? </a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse">
						<div class="panel-body">
							<p>In the city district, there are about 40 springs and wells, district is around 130th</p>
							<p>Since the Heilbronner water but charged very hard and strong with toxic nitrate, buys the city for 43 years of water from Lake Constance (Bodensee Zweckverband water supply).</p>
							<p>Previously, the city covered the water needs about 60 to 70 percent self-sufficient water. This has turned into its opposite. The proportion of water from Lake Constance is now at 80 to 85 percent.</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a href="#collapseTwo" data-toggle="collapse" data-parent="#accordion"> Why miss some municipalities on the addition of water from Lake Constance? </a>
						</h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse">
						<div class="panel-body">
							<p>It is cheaper for local authorities when they take their drinking water exclusively from its own sources.</p>
							<p>The municipality Jagsthausen example provides its residents with 100 percent self-sufficient water.</p>
							<blockquote>
								<p>"We have ordinary water, which is hard indeed. But we see no reason for an admixture of extraneous water as do other municipalities "</p>
								<footer>Mayor Roland Holder</footer>
							</blockquote>
							<p>Complaints from the community there would be no, many residents have a water softener. Links to the Bodensee water is connected in the case of Jagsthausen with high investment costs and not an issue.</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a href="#collapseThree" data-toggle="collapse" data-parent="#accordion"> Why does not taste as good as my drinking bottled water? </a>
						</h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse">
						<div class="panel-body">
							<p>The taste of water is determined by the minerals contained in it.</p>
							<p>Water with much sodium and potassium, is perceived as salty taste. Sodium-poor water - including Heilbronn drinking water - contrast tastes moderates.</p>
							<p>An unpleasant taste can occur when the pipes are contaminated in the building. Stadtwerke check the quality of drinking water only up to the respective front door. In the house, the responsibility rests with the building owner.</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a href="#collapseFour" data-toggle="collapse" data-parent="#accordion"> What is the hardness of water for me?</a>
						</h4>
					</div>
					<div id="collapseFour" class="panel-collapse collapse">
						<div class="panel-body">
							<p>Wherever hard water flows slowly or is heated to about 60 degrees, lime settles. In the kitchen and bathroom so arise lime stains, washing clothes more detergent is needed, some household appliances must be decalcified regularly. This is from a water hardness of 21st</p>
							<p>In Heilbronn, the upper limit of the water hardness of 18 degrees. Healthwise hard water is safe to the contrary, because of the high calcium and magnesium content, it is healthier than soft water.</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a href="#collapseFive" data-toggle="collapse" data-parent="#accordion"> Why is there no soft water with us?</a>
						</h4>
					</div>
					<div id="collapseFive" class="panel-collapse collapse">
						<div class="panel-body">
							<p>Most of Heilbronner drinking fountains are located in the rock layer Gipskeuper, who is responsible for the very high magnesium and calcium content in the water. Since these two minerals determine the hardness of the water, there are in Heilbronn soft water.</p>
							<p>The Heilbronner water has a hardness of up to 28 degrees of German hardness, in some of the 40 well water flows at 30 degrees German hardness.</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a href="#collapseSix" data-toggle="collapse" data-parent="#accordion"> How do the different degrees of hardness?</a>
						</h4>
					</div>
					<div id="collapseSix" class="panel-collapse collapse">
						<div class="panel-body">
							<p>The taste of water is determined by the minerals contained in it.</p>
							<p>Drinking water containing varying amounts of the minerals calcium and magnesium - depending on whether it is surface water, ground water or spring water.</p>
							<p>The more calcium and magnesium in the water, the harder it is.</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a href="#collapseSeven" data-toggle="collapse" data-parent="#accordion"> Unit ° dH - "degree of German hardness"?</a>
						</h4>
					</div>
					<div id="collapseSeven" class="panel-collapse collapse">
						<div class="panel-body">
							<p>The unit ° dH (German hardness) is outdated, but in practice common still. In addition ° dH millimoles per liter (mmol / l) was used.</p>
							<p>Industries:</p>
							<ul>
								<li>soft: less than 1.5 millimoles of calcium carbonate per liter (equivalent to less than 8.4 degrees of German hardness)</li>
								<li>medium: 1.5 to 2.5 millimoles of calcium carbonate per liter (equivalent to 8.4 to 14 degrees of German hardness)</li>
								<li>hard: more than 2.5 millimoles of calcium carbonate per liter (equivalent to more than 14 degrees of German hardness)</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a href="#collapseEight" data-toggle="collapse" data-parent="#accordion"> Related Links</a>
						</h4>
					</div>
					<div id="collapseEight" class="panel-collapse collapse">
						<div class="panel-body">
							<ul>
								<li><a href="http://www.stimme.de/3047311">Heilbronner Water: Rich in minerals (Stimme.de, 03/22/2014)</a>
								<li><a href="http://www.gesetze-im-internet.de/bundesrecht/trinkwv_2001/gesamt.pdf">drinking water Regulation</a></li>
								<li><a href="http://www.mlr.baden-wuerttemberg.de/mlr/allgemein/Liste d Untersuchungsstellen-Trinkw.pdf">List of laboratories to study the quality of drinking water</a></li> 
								<li><a href="http://www.umweltbundesamt.de/sites/default/files/medien/378/publikationen/rund_um_das_trinkwasser.pdf">Brochure of the Federal Environment Agency "Around the Water"</a></li>
								<li><a href="https://www.stadtwerke-heilbronn.de/index/hsw/hsw_wasser.html">Stadtwerke Heilbronn, Section Water</a></li>
							</li></ul>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a href="#collapseNine" data-toggle="collapse" data-parent="#accordion"> Sources</a>
						</h4>
					</div>
					<div id="collapseNine" class="panel-collapse collapse">
						<div class="panel-body">
							<ul>
								<li>Heilbronner supply Gmbh</li>
								<li>German Nutrition Society</li>
								<li>Federal Institute for Risk Assessment</li>
								<li>Websites of municipalities in Heilbronn</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>