<div class="gauge-description gauge-glass-description" style="margin-top:38px">
	<table class="table table-gauge-description">
		<tr>
			<th style="border:none"><strong class="comparison-water-label highlight">1 |</strong></th>
			<td style="border:none;min-width:80px"><strong class="comparison-water-value highlight">1 |</strong></td>
		</tr>
		<tr>
			<th>My tap water</th>
			<td><span class="comparison-water-value-self"></span><br><small>(Red line)</small></td>
		</tr>
		<tr class="gauge-daily-dosis-container">
			<th>daily requirement</th>
			<td><span class="gauge-daily-dosis">Sep 17 2012</span></td>
		</tr>
	</table>
	
	<br><br>
	<div class="attribute-description attribute-description-natrium" style="display:none">
		<p>Sodium regulates the water balance.</p>
		<p>Athletes is sodium-rich water to recommend people with hypertension or infants should drink low-sodium water.<br><em>(Less than 20 mg / l)</em></p>
	</div>
	<div class="attribute-description attribute-description-kalium" style="display:none">
		<p>Potassium keeps the water and electrolyte balance in balance, regulates blood pressure and is important for a regular heartbeat and nerve.</p>
	</div>
	<div class="attribute-description attribute-description-calcium" style="display:none">
		<p>Calcium is needed for the formation of bones and teeth.</p>
		<p>Also for the muscles and clotting Calcium is important.</p>
	</div>
	<div class="attribute-description attribute-description-magnesium" style="display:none">
		<p>Magnesium affects the energy metabolism, the interaction of nerves to muscles for protein synthesis and and bone mineralization.</p>
	</div>
	<div class="attribute-description attribute-description-chlorid" style="display:none">
		<p>Chloride is important for regulation of the water balance, the nerves, the heart and muscles, as well as acid-base balance.</p>
		<p>Since chloride is a component of common salt, is usually taken in more than sufficient chloride in the diet.</p>
	</div>
	<div class="attribute-description attribute-description-nitrat" style="display:none">
		<p>Nitrate is converted to nitrite in the body toxic. In addition, may arise from nitrites carcinogenic nitrosamines.</p>
		<p>The nitrite itself may cause an oxygen deficiency of all organs and tissues. Infants are particularly vulnerable for this.</p>
	</div>
	<div class="attribute-description attribute-description-sulfat" style="display:none">
		<p>Sulfate promote digestion, even laxative from a level of 1200 mg / l.</p>
	</div>
</div>