<div class="row gauge-bar-container" style="display:none">
	<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
		<p>The water hardness indicates how hard or soft a water. The more calcium and magnesium contained in a water, the harder it is.</p>
		<p>Hard water can cause lime stains in kitchen and bathroom. Because of its high calcium and magnesium content, it is healthier than soft water.<br>(Calcium: structure of bones and teeth, magnesium: building muscles and nerves)</p> 
	</div>
	<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
		<div style="padding-right:34px">
			<img src="/static/front_end/img/haushalt.svg" class="pull-right hidden-xs">
			<table class="table table-gauge-description gauge-description gauge-bar-description">
				<tr>
					<th style="border:none"><strong class="highlight">Value</strong></th>
					<td style="border:none"><strong class="highlight">That means that</strong></td>
				</tr>
				<tr>
					<th>Residual alkalinity</th>
					<td>That means that</td>
				</tr>
				<tr>
					<th>Area</th>
					<td><span class="gauge-value-label"></span></td>
				</tr>
				<tr>
					<th>Average<br><small>Heilbronn</small></th>
					<td>That means that</td>
				</tr>
			</table>
			
			<p><br></p>
			<svg class="gauge-bar-img" xmlns="http://www.w3.org/2000/svg" version="1.1" viewbox="0 0 750 136" preserveaspectratio="xMinYMin meet">
				<defs>
					<pattern id="hardness-range-indicator" width="6" height="6" x="6" y="6" patternunits="userSpaceOnUse">
						<line class="range-indicator-bar" x1="0" x2="6" y1="6" y2="0"></line>
					</pattern>
				</defs>
				
				<g class="gauge-bars"></g>
				<g class="gauge-bar-labels"></g>
				
				<g class="gauge-value-indicators">
					<rect class="gauge-bar-range-indicator" width="25" height="40" x="63.5" y="64" fill="url(#hardness-range-indicator)"></rect>
					<circle class="gauge-bar-ball" cx="63.5" cy="84" r="13"></circle>
				</g>
			</svg>
		</div>
	</div>
</div>