<html dir="ltr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>

<title>What's in my tap water?</title>
<meta name="description" content="Do you know how good the water where you live? Here you can figure it out"></meta>

<!-- build:css css/tw.min.css -->
<link href="static/front_end/css/bootstrap-cyborg.css" rel="stylesheet"></link>
<link href="static/front_end/css/main.css" rel="stylesheet"></link>
<!-- endbuild -->

<!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
<![endif]-->
</head>
<body class="bg-gradient state-1" dir="ltr">
	<div class="container">
		<h1 style="display:none">What's in my tap water?</h1>

		<!-- Drop down to select County/City-->
		{% include "choose_location.html" %}
		
		<div class="results" style="display:none">
			<form class="form-inline form-choose-location-quick">
				<div class="form-group">
					<select class="city form-control"></select>
				</div>
				<div class="form-group select-district">
					<select class="district form-control"></select>
				</div>
				<div class="form-group select-street">
					<select class="streetZone form-control"></select>
				</div>
			</form>
			

			<ul class="nav nav-tabs responsive">
				<li class="nav-li-main"><a data-toggle="tab" data-attribute="natrium">Sodium</a></li>
				<li class="nav-li-main"><a data-toggle="tab" data-attribute="kalium">Potassium</a></li>
				<li class="nav-li-main"><a data-toggle="tab" data-attribute="calcium">calcium</a></li>
				<li class="nav-li-main"><a data-toggle="tab" data-attribute="magnesium">magnesium</a></li>
				<li class="nav-li-main"><a data-toggle="tab" data-attribute="chlorid">Chloride</a></li>
				<li class="nav-li-main"><a data-toggle="tab" data-attribute="nitrat">nitrates</a></li>
				<li class="nav-li-main"><a data-toggle="tab" data-attribute="sulfat">Sulfate</a></li>
				<li class="nav-li-main"><a data-toggle="tab" data-attribute="hardness">Hardness</a></li>
				<li class="nav-li-main"><a data-toggle="tab" data-attribute="info"><span class="glyphicon glyphicon-info-sign"></span> Questions and answers</a></li>
			</ul>
			
			<div class="alert alert-warning result-without-value" style="display:none">
				There are unfortunately no values ​​for this component.
			</div>
			
			<div class="result-with-value">
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<div class="section section-explanation">
							<div class="row gauge-glass-container" style="display:none">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-7">
									<!-- Information about the attributes -->
									{% include "component_information.html" %}
									<br>
									<p><button type="button" class="btn btn-warning switch-to-section hidden-xs" data-section="compare"><span class="glyphicon glyphicon-chevron-right"></span> Compared with mineral water</button></p>
								</div>
								<!-- Animated gauge on the side -->
								{% include "gauge.html" %}
							</div>
							
							<!-- Shows a graphic indication of the acidity/basicity of the water -->
							{% include "ph_indicators.html" %}
							<p><br></p>
							<p><button type="button" class="btn btn-warning switch-to-section hidden-md hidden-lg hidden-sm" data-section="compare"><span class="glyphicon glyphicon-chevron-right"></span> Compared with mineral water</button></p>
						</div>
						
						<div class="section section-compare" style="display:none">
							<div class="row">
								<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 compare-nav">
									<button type="button" class="btn btn-primary btn-lg btn-block active" data-water="volvic">Volvic</button>
									<button type="button" class="btn btn-primary btn-lg btn-block" data-water="wueteria">Wüteria Sacred Fountain</button>
									<button type="button" class="btn btn-primary btn-lg btn-block" data-water="teusser">Teusser Naturell</button>
									<button type="button" class="btn btn-primary btn-lg btn-block" data-water="vittel">Vittel</button>
									<button type="button" class="btn btn-primary btn-lg btn-block" data-water="self" style="margin-top:2em">My tap water</button>
									
									<p><br></p>
								</div>
								<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
									<div class="row">
										<div class="col-lg-3 col-md-3 hidden-sm hidden-xs"></div>
										<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6">
										{% include "mineral_water_comparison.html" %}
										</div>
										<!-- The gauge for mineral water comparison -->
										{% include "gauge_mineral.html" %}
									</div>
								</div>
							</div>
							<p><br></p>
							<p><br></p>
							<p><button type="button" class="btn btn-warning switch-to-section" data-section="explanation">Back</button></p>
							<p><br></p>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Questions/answers (information part) -->
			{% include "information.html" %}
		
		<footer class="footer">
			<a data-toggle="modal" data-target="#contactDialog"><span class="glyphicon glyphicon-envelope"></span></a> <a data-toggle="modal" data-target="#contactDialog">Contact</a> | <a data-toggle="modal" data-target="#aboutDialog"><span class="glyphicon glyphicon-question-sign"></span></a> <a data-toggle="modal" data-target="#aboutDialog">About the Project</a> | <a data-toggle="modal" data-target="#attributionDialog"><span class="glyphicon glyphicon-user"></span></a> <a data-toggle="modal" data-target="#attributionDialog">Contributors</a> | <a data-toggle="modal" data-target="#imprintDialog"><span class="glyphicon glyphicon-info-sign"></span></a> <a data-toggle="modal" data-target="#imprintDialog">imprint</a>
		</footer>
	</div>

	<!-- About and contacts -->
	{% include "about_contacts.html" %}

	<!-- Contributors -->
	{% include "contributors.html" %}
	
	<!-- Imprint -->
	{% include "imprint.html" %}

	<!-- Contact us -->
	{% include "contact_us.html" %}

	<!-- build:js js/tw.min.js -->
	<script src="static/front_end/lib/jquery.js"></script>
	<script src="static/front_end/lib/bootstrap.js"></script>
	<script src="static/front_end/lib/d3.js"></script>
	<script src="static/front_end/lib/colorbrewer.js"></script>
	<script src="static/front_end/js/app.js"></script>
	<script src="static/front_end/js/utils.js"></script>
	<script src="static/front_end/data/locations.js"></script>
	<script src="static/front_end/data/zones.js"></script>
	<script src="static/front_end/data/mineralwaesser.js"></script>
	<script src="static/front_end/js/gauge.js"></script>
	<script src="static/front_end/js/comparison.js"></script>
	<script src="static/front_end/js/map.js"></script>
	<!-- endbuild -->
	<script type="text/javascript">
		$(document).ready(function() {
			tw.init();
		});
	</script>
</body>
</html>